# Recommended for most uses
DATABASE_URL=

# For uses requiring a connection without pgbouncer
DATABASE_URL_UNPOOLED=

# Parameters for constructing your own connection string
PGHOST=
PGHOST_UNPOOLED=
PGUSER=
PGDATABASE=
PGPASSWORD=

# Parameters for Vercel Postgres Templates
POSTGRES_URL=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
POSTGRES_URL_NO_SSL=
POSTGRES_PRISMA_URL=

VITE_REOWN_PROJECT_ID=9c662fcd4b40e29dff6a4e0fbedb936a
VITE_HARMONY_RPC_URL=https://api.harmony.one
VITE_HARMONY_CHAIN_ID=1666600000
VITE_API_BASE_URL=

VITE_REGISTRAR_CONTROLLER_ADDRESS=0x76c6fE3aEe636f88d01De64931514e8CD64D94Fb
VITE_DC_ADDRESS=0x547942748Cc8840FEc23daFdD01E6457379B446D
VITE_EWS_ADDRESS=0xf90dab949d3853c418bE361930028644B4EBcDE4
VITE_BASE_REGISTRAR_ADDRESS=0x4D64B78eAf6129FaC30aB51E6D2D679993Ea9dDD
VITE_TLD_NAME_WRAPPER_ADDRESS=0x4Cd2563118e57B19179d8DC033f2B0C5B5D69ff5
VITE_PUBLIC_RESOLVER_ADDRESS=0x46E37034Ffc87a969d1a581748Acf6a94Bc7415D
VITE_APP_URL=https://domains.country

# Server-only variables for Vercel Functions. Do not expose secrets with VITE_.
HARMONY_RPC_URL=https://api.harmony.one

